@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #add8e6;
  --card-bg: #232b2e;
  --brand-font: "Raleway", sans-serif;
  --body-font: "Inter", sans-serif;
  --active: yellow;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  font-family: var(--body-font);
}

.navbar-dark {
  color: var(--bg) !important;
}
.bg-dark {
  background-color: var(--card-bg) !important;
}

.container-fluid.main {
  width: 100%;
  background-color: yellowgreen;
  padding: 0;
}

/*
'sm': '640px',
      // => @media (min-width: 640px) { ... }

      'md': '768px',
      // => @media (min-width: 768px) { ... }

      'lg': '1024px',
      // => @media (min-width: 1024px) { ... }

      'xl': '1280px',
      // => @media (min-width: 1280px) { ... }

      '2xl': '1536px',
      // => @media (min-width: 1536px) { ... }


*/
