{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aung Su Chwe</title>
    <link rel="stylesheet" href="{% static 'utils/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'base/base.css' %}" />
    <link rel="stylesheet" href="{% static 'header/navbar.css' %}" />
  </head>
  <body>
    <div class="container-fluid main">
      <div class="header">{% include 'header/navbar.html' %}</div>
      <div class="body"></div>
    </div>

    <script src="{% static 'utils/bootstrap.bundle.min.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/7a7de2b2f7.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
